name: Test Odoo 17 Modules

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: odoo
          POSTGRES_PASSWORD: odoo
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Clone Odoo 17
        run: |
          git clone https://github.com/odoo/odoo --depth 1 --branch 17.0

      - name: Install python deps
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-dev libxml2-dev libxslt1-dev zlib1g-dev libsasl2-dev libldap2-dev build-essential
          pip3 install -r odoo/requirements.txt

      - name: Install modules test
        run: |
          cd odoo
          ./odoo-bin -d test_db \
            --addons-path=addons,../ \
            -i instalacje24_terrain,instalacje24_office \
            --stop-after-init
